/language/resource.language.de_de/strings.mo
/xml/script-skinshortcuts-includes.xml
extras/themes/Blex/background.psd

extras/themes/Blex/header.psd

extras/themes/Blex/vignette.psd

extras/themes/Material/vignette.psd

extras/themes/Material/background.psd

extras/themes/Default/vignette.psd

extras/themes/Default/unwatched.psd

extras/themes/Blue Radiance/vignette.psd
